<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="UTF-8">
    <title>Sistema Contable</title>

    <script src="https://kit.fontawesome.com/3160391df1.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="static/css/index.css" media="screen" />

</head>
<body>
este es el body...

<a href='/accounts/login/?next=/'>LOGIN</a>
<!--<a href='user/register'>REGISTER</a>-->
<a href='/admin'>ADMIN</a>
<a href='/logout'>LOGOUT</a>
{{user.email}}
{{user.superuser}}
<!--<img src=/static/images/257.jpg>-->
</body>
</html>