<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar un nuevo usuario</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="static/css/registro_usuarios.css" media="screen" />
    <link rel="icon" type="image/png" href="{% static '/images/icon-calculator.svg'%}">
</head>
<body>

<div>
    {% load crispy_forms_tags %}
    <br>
    <br>
    <br>
    <h2>Registro de usuarios</h2>
    <hr>
    <div class="container-formulario">
        <form action="" id="formularioUser" class="formulario" method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form | crispy }}

            <input type="submit" value="Registrar cuenta" class="button" style="margin: 20px">
        </form>
    </div>

</div>

</body>
</html>