<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content">


  <!-- Content -->
  <div id="content" class="colM">

    <h1>Agregar cuentas</h1>

    <div id="content-main">



      <form method="post" id="cuentas_form" novalidate="">
        {% csrf_token %}
        <div>
          <fieldset class="module aligned ">
            <div class="form-row field-cuenta">
              <div>
                <label class="required" for="id_cuenta">Cuenta:</label>
                <input type="text" name="cuenta" class="vTextField" maxlength="50" required="" id="id_cuenta">
              </div>
            </div>
            <div class="form-row field-codigo">
              <div>
                <label class="required" for="id_codigo">Codigo:</label>
                <input type="text" name="codigo" class="vTextField" maxlength="20" required="" id="id_codigo">
              </div>
            </div>
            <div class="form-row field-tipo">
              <div>
                <label class="required" for="id_tipo">Tipo:</label>
                <input type="text" name="tipo" class="vTextField" maxlength="20" required="" id="id_tipo">
              </div>
            </div>
            <div class="form-row field-recibe_saldo">
              <div class="checkbox-row">
                <input type="checkbox" name="recibe_saldo" id="id_recibe_saldo"><label class="vCheckboxLabel" for="id_recibe_saldo">Recibe saldo</label>
              </div>
            </div>
            <div class="form-row field-saldo_actual">
              <div>
                <label for="id_saldo_actual">Saldo actual:</label>
                <input type="number" name="saldo_actual" step="0.01" id="id_saldo_actual">
              </div>
            </div>
          </fieldset>


          <div class="submit-row">
            <input type="submit" value="Guardar" class="default" name="_save">
            <input type="submit" value="Guardar y agregar otro" name="_addanother">
            <input type="submit" value="Guardar y continuar editando" name="_continue">
          </div>

          <script id="django-admin-form-add-constants" src="/static/js/change_form.js" data-model-name="cuentas" async="">
          </script>




<!--          <script id="django-admin-prepopulated-fields-constants" src="/static/js/prepopulate_init.js" data-prepopulated-fields="[]">-->
<!--          </script>-->


        </div>
      </form></div>


    <br class="clear">
  </div>
  <!-- END Content -->
  <div id="footer"></div>
</div>
</body>
</html>